.hero {
  position: relative;
  background: linear-gradient(
    135deg,
    rgba(99, 102, 241, 0.1) 0%,
    rgba(236, 72, 153, 0.1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  height: 100vh;
}
.hero-content {
  line-height: 1.4;
  position: relative;
  z-index: 1;
}
.hero-title {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 1rem;
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--accent-color),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-subtitle {
  font-size: 24px;
  color: var(--text-secondary);
  margin-top: 1rem;
}
.cta-buttton {
  margin-top: 1rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--textprimary);
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--accent-color)
  );
  border: none;
  border-radius: 50px;
  height: 3rem;
  width: 10rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 10px 30px rgba(99, 102, 241, 0.3);
}

.cta-buttton:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 30px rgba(99, 102, 241, 0.5);
}