.outer{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.section {
    background-color: rgb(224, 110, 11);
    height: 300px;
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color: white;
    text-align: center;
}
.container{
    background-color: grey;
    height: 150px;
    width: 30rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    width: 80%;
    height: 2rem;
    border-radius: 5px solid gray;
    margin-top: 1rem;
    padding-left: 0.5rem;
}
.copy{
    height:2.3rem ;
    margin-top: 1rem;
    cursor: pointer;
}
.rangeholder{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}


